/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 index-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  
  }
  
  .index-tile {
    padding: 50px;
    margin: 0px 0px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 25px;
  }
  
  .index-tile:hover {
    border: 3px solid rgb(252, 252, 252); 
    background-color: rgba(255, 255, 255, 0.3);
  }
  
  .index-tile h3 a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 1200;
  }
  
  .index-img {
    max-width: 100px;
  }
  